@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/*Global Styles*/
:root {
  --primary-color: #601aec;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --success-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Fredoka One", cursive;
}

*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  color: var(--light-color);
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--primary-color);
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  background: var(--primary-color);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.menu-closed {
  position: fixed;
  height: 13vh;
  width: 100vw;
  background: var(--dark-color);
  display: flex;
  align-items: center;
  top: 0;
}

.menu-icon {
  height: 40%;
  width: 75px;
  padding-left: 2em;
}

.menu-btn {
  background: none;
  border: none;
  outline: none;
}

.menu-open {
  position: fixed;
  height: 70vh;
  width: 70vw;
  background: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.menu-open a {
  text-decoration: none;
  font-size: 30px;
  color: var(--light-color);
  line-height: -1;
  padding-left: 1em;
}

@media (min-width: 600px) {
  body {
    display: flex;
    background-color: var(--light-color);
  }
}

/* @media screen and (min-width: 768px) {
  .App {
    margin: 15%;
  }
}

@media screen and (min-width: 992px) {
  .App {
    margin: 20%;
  }
} */
