@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

/*Global Styles*/
:root {
  --primary-color: #5e16eb;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --success-color: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}

*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  color: var(--light-color);
  font-size: 1rem;
  line-height: 1.3;
  background-color: var(--primary-color);
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  background: var(--primary-color);
}

.container {
  margin-top: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
  margin-top: 20%;
}

section {
  margin: auto 10%;
}

button {
  padding: 2%;
  margin: 2% 7%;
  border: none;
  border-radius: 5px;
  background-color: var(--light-color);
  color: var(--primary-color);
}

p {
  margin: 0 0 5%;
}

@media screen and (min-width: 768px) {
  section {
    margin: auto 15%;
  }
}

@media screen and (min-width: 992px) {
  section {
    margin: auto 20%;
  }
}
