@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*Global Styles*/
:root {
  --primary-color: #601aec;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --success-color: #d9d9d9;
}

.App {
  background: var(--primary-color);
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Fredoka One', cursive;
}

img {
  max-height: 100%;
  max-width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.container {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
}

footer {
  height: 10vh;
  width: 100vw;
  background: var(--success-color);
  align-items: center;
  bottom: 0;
}

@media (min-width: 600px) {
  body {
    display: flex;
    background-color: var(--light-color);
  }
}

/* @media screen and (min-width: 768px) {
  .App {
    margin: 15%;
  }
}

@media screen and (min-width: 992px) {
  .App {
    margin: 20%;
  }
} */
